* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
}

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  width: 100%;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    hsla(4, 100%, 67%, 0.6),
    hsl(4, 100%, 67%)
  );
  box-shadow: 0 0.8rem 2rem hsl(4, 100%, 67%);
}

.display--none {
  display: none !important;
}

.section-newsletter {
  max-width: 88rem;
  margin: 9.6rem auto;
}

.signup-wrapper {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 4.8rem;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.signup-text-wrapper {
  padding-left: 4.8rem;
}

.signup-title {
  font-size: 5.6rem;
  letter-spacing: 0.3px;
  margin-bottom: 2.4rem;
}

.signup-description {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.signup-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.signup-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.signup-item-icon {
  width: 2rem;
}

.signup-item-text {
  line-height: 1.5;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.input-label-wrapper {
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-msg {
  color: hsl(4, 100%, 67%);
}

.user-input {
  width: 100%;
  border-radius: 1.2rem;
  border: none;
  padding: 1.6rem 2.8rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
}

.user-input:focus {
  outline: 1px solid hsl(234, 29%, 20%);
}

.signup-image {
  max-width: 100%;
}

.success-msg-wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  max-width: 48rem;
  padding: 4.8rem 5.6rem;
  margin: 0 auto;
}

.success-img {
  width: 55px;
  margin-bottom: 2.4rem;
}

.success-msg-title {
  font-size: 5.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.05;
}

.success-msg-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 3.2rem;
}

.email {
  font-weight: 700;
}

/******************************/
/*****SMALL_LAPTOP_DESIGN******/
/******************************/

@media (max-width: 1060px) {
  html {
    font-size: 56.25%;
  }

  .section-newsletter {
    max-width: 80rem;
    margin: 6.4rem auto;
  }

  .signup-wrapper {
    gap: 3.6rem;
    padding: 1.6rem;
  }

  .signup-text-wrapper {
    padding-left: 3.6rem;
  }

  .signup-title {
    font-size: 4.8rem;
  }

  .success-msg-wrapper {
    max-width: 44rem;
    padding: 3.6rem 4rem;
    margin-top: 12.8rem;
  }

  .success-msg-title {
    font-size: 4.8rem;
  }
}

/******************************/
/********TABLET_DESIGN*********/
/******************************/

@media (max-width: 820px) {
  html {
    font-size: 50%;
  }

  body {
    font-size: 1.8rem;
  }

  .section-newsletter {
    max-width: 64rem;
    margin: 5.6rem auto;
  }

  .signup-wrapper {
    flex-direction: column-reverse;
    align-items: start;
    padding: 4rem;
  }

  .signup-text-wrapper {
    width: 100%;
    padding: 0;
  }

  .success-msg-wrapper {
    max-width: 40rem;
    padding: 3.2rem 3.6rem;
  }

  .signup-title {
    font-size: 4rem;
  }
}

/******************************/
/********MOBILE_DESIGN*********/
/******************************/

@media (max-width: 525px) {
  .section-newsletter {
    max-width: 100%;
    margin: 0 auto;
  }

  .signup-wrapper {
    padding: 0;
  }

  .signup-image {
    display: block;
    width: 100%;
  }

  .signup-text-wrapper {
    padding: 0rem 3.2rem 5.6rem 3.2rem;
  }

  .success-msg-wrapper {
    max-width: 36rem;
    padding: 2.8rem 2.4rem;
  }
}
